@charset "UTF-8";
* {
  margin: 0px;
}

#title {
  top: 3px;
  padding: 5px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main {
  margin-top: 0px;
  padding: 0%;
}

body {
  color: white;
  font-family: 'Rajdhani', sans-serif;
  background-color: black;
}

.contents-block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contents-block-2 {
  margin-top: 50px;
}

.text-block {
  margin-left: 10px;
  padding-top: 4px;
  font-size: 1.6em;
  text-align: center;
  width: 44%;
}

.fixed {
  position: fixed;
  z-index: 10;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.big {
  font-size: 2em;
}

.bokashi {
  color: black;
  background-color: #000000;
  -webkit-box-shadow: 0px 0px 20px 10px #000000;
          box-shadow: 0px 0px 20px 10px #000000;
  padding: 10px;
  margin: 20px;
}

.junpword {
  text-decoration: none;
}

.junpword:hover {
  color: white;
}

.junpword:visited {
  color: white;
}

.junpword-title {
  margin-top: 7px;
  padding: 0px,5px,5px,5px;
  font-size: 2em;
  text-shadow: 0 0 10px #fff,0 0 15px #fff;
  text-decoration: none;
}

.junpword:hover {
  color: white;
}

.junpword:visited {
  color: white;
}

img.icon {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 5px;
}

img.bgimg--1 {
  width: 55vw;
  height: calc(50vw * 0.666);
}

.neon {
  display: inline-block;
  color: #fff;
  letter-spacing: .05em;
  font-size: 2em;
  text-shadow: 0 1px 30px #ffffff, 0 0 12px #fff, 2px 5px 60px #ffffff;
}

.neon > span {
  -webkit-animation: blink 3s infinite alternate;
  animation: blink 3s infinite alternate;
}

@-webkit-keyframes blink {
  40% {
    opacity: .85;
  }
  42% {
    opacity: .4;
  }
  43% {
    opacity: .85;
  }
  45% {
    opacity: .4;
  }
  46% {
    opacity: .85;
  }
}

@keyframes blink {
  40% {
    opacity: .85;
  }
  42% {
    opacity: .4;
  }
  43% {
    opacity: .85;
  }
  45% {
    opacity: .4;
  }
  46% {
    opacity: .85;
  }
}

.neon2 {
  display: inline-block;
  color: #fff;
  letter-spacing: .05em;
  font-size: 2em;
  text-shadow: 0 1px 30px #ffffff, 0 0 12px #fff, 2px 5px 60px #ffffff;
}

.neon2 > .anmon {
  -webkit-animation: blink 3s infinite alternate;
  animation: blink 3s infinite alternate;
}

@-webkit-keyframes blink {
  40% {
    opacity: .85;
  }
  42% {
    opacity: .4;
  }
  43% {
    opacity: .85;
  }
  45% {
    opacity: .4;
  }
  46% {
    opacity: .85;
  }
}

@keyframes blink {
  40% {
    opacity: .85;
  }
  42% {
    opacity: .4;
  }
  43% {
    opacity: .85;
  }
  45% {
    opacity: .4;
  }
  46% {
    opacity: .85;
  }
}

#splash {
  /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: black;
  text-align: center;
  color: #fff;
}

/* Loadingバー中央配置　*/
#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 0 1px 30px #ffffff, 0 0 12px #fff, 2px 5px 60px #ffffff;
}

#g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: 0;
  right: -25%;
  width: 20%;
  height: 100vh;
  /*ナビの高さ*/
  background: rgba(0, 0, 0, 0.75);
  /*動き*/
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
  right: 0;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 48%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*リストのレイアウト設定*/
#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.openbtn {
  /*ボタン内側の基点となるためrelativeを指定。
  追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
  position: fixed;
  background: transparent;
  cursor: pointer;
  z-index: 99999;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  right: 2px;
}

.openbtn span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 19px;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 14px;
}

.openbtn span:nth-of-type(2) {
  top: 25px;
}

.openbtn span:nth-of-type(3) {
  top: 36px;
}

/*activeクラスが付与されると1・3番目の要素が2番目の要素と同じ位置になり一本線に*/
.openbtn.active span:nth-of-type(1),
.openbtn.active span:nth-of-type(3) {
  top: 25px;
}

/*==================================================
  スライダーのためのcss
  ===================================*/
.slider {
  /*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 94%;
  margin: 0 auto;
  z-index: 5;
  padding: 0%;
}

.slider img {
  width: 100%;
  /*スライダー内の画像を横幅100%に*/
  height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/
.slider .slick-slide {
  margin: 0 10px;
}

/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
  position: absolute;
  /*絶対配置にする*/
  top: 42%;
  cursor: pointer;
  /*マウスカーソルを指マークに*/
  outline: none;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid white;
  /*矢印の色*/
  border-right: 2px solid white;
  /*矢印の色*/
  height: 15px;
  width: 15px;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: -1.5%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: -1.5%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: #252525;
  /*ドットボタンの色*/
}

.slick-dots .slick-active button {
  background: white;
  /*ドットボタンの現在地表示の色*/
}

html, body {
  height: 100%;
  /*高さを100%にして描画エリアをとる*/
}

#particles-js {
  position: fixed;
  /*描画固定*/
  z-index: -1;
  /*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color: #000000;
  /*背景色*/
}

#wrapper {
  position: relative;
  /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1;
  /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */